* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
}
.h-full {
  height: 100%;
}
.min-h-full{
  min-height: 100%;
}
.w-full {
  width: 100%;
}
.flex-1{
  flex: 1;
}
.dark{
  background-color: #101014;
}
.n-layout-scroll-container{
  width: 100%;
}
.content-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}